<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<body>


{{{ body }}}


</body>
</html>